body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    height: 500px;
    margin-top: 20px;
    justify-content: center;
}

.bar {
    background: cyan;
    border: 1px solid black;
    width: 10px;
    margin: 0 1px;
    transition: 0.2s all ease;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
